<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrnet.appweb.common.mapper.SeqMapper">

    <insert id="insertSeq" useGeneratedKeys="true" keyProperty="id" parameterType="com.yrnet.appweb.common.mapper.Seq">
insert into table_seq(seq,create_time)
values(#{seq},#{createTime})
</insert>

</mapper>
