<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrnet.appweb.business.video.mapper.ParseLogMapper">

    <resultMap id="rankingResult" type="com.yrnet.appweb.business.video.entity.Ranking">
        <result column="userId" property="userId" />
        <result column="handleSum" property="handleSum" />
        <result column="downloadCount" property="downloadCount" />
        <result column="avatarUrl" property="avatarUrl" />

    </resultMap>

    <select id="ranking" resultMap="rankingResult">
        select * from (select  l.user_id as user_id, MAX(l.user_avatar_Url) as avatarUrl, COUNT(l.user_id) as handleSum,SUM(l.download_count) as downloadCount from video_parse_log l GROUP BY l.user_id) as rank ORDER BY handleSum desc LIMIT 50;
    </select>
</mapper>
