<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrnet.viewweb.business.login.mapper.TestMapper">


    <select id="select" resultType="com.yrnet.viewweb.business.login.entity.TestUser">
        select  * from user;
    </select>
    <select id="selectT" resultType="com.yrnet.viewweb.business.login.entity.TestUserDetail">
                select  * from userDetail;

    </select>
</mapper>
